#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat           text eol=crlf

# Markdown uses two trailing spaces for intentional hard line breaks.
*.md            whitespace=-blank-at-eol
